$dark-grey: #343a40;
$dark-grey-shift: #444a50;
$light-grey: #dadada;
$blue: #3e72cb;
$pink: #d33682;
$black: #333333;
$white: #ffffff;
$green: #44c92a;
$yellow: #ffe244;

$bkg: $dark-grey;
$hilight: #c98f2a;
$hilight-dark: $black;
$text-light: #cdc8c8;
$text-dark: $black;
$text-mute: #7d7878;
$text-link: #8d8888;
$border-light: #586e75;
$border-dark: $dark-grey;

$print-bkg: #ffffff;
$print-text: #000000;
