/*
$clr-one: #222831;
$clr-two: #2d4059;
$clr-three: #ff5722;
$clr-four: #eeeeee;
*/

$clr-one: #000000;
$clr-two: #854836;
$clr-three: #f5b553;
$clr-four: #f7f7f7;

$blue: #3e72cb;
$pink: #d33682;
$black: #333333;
$white: #ffffff;
$green: #44c92a;
$yellow: #ffe244;

$bkg-primary: $clr-one;
$bkg-secondary: $clr-two;
$hilight: $clr-three;
$hilight-dark: $black;
$text-light: $clr-four;
$text-dark: $black;
$text-mute: #7d7878;
$text-link: $blue;
$border-light: $clr-four;
$border-dark: $clr-one;

$print-bkg: #ffffff;
$print-text: #000000;
