<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            <div class="header">the header</div>

            <input id="hamburger-chk" type="checkbox" />
            <label id="hamburger-label" for="hamburger-chk"> </label>
            <nav>
                <ul>
                    <li>home</li>
                    <li>thing</li>
                    <li>about</li>
                    <li>contact</li>
                </ul>
            </nav>

            <div class="main">
                {{ content }}
            </div>

            <div class="footer">footer stuff</div>

        </div>

    </body>

</html>
